<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form id="loginForm" th:action="@{/login}" method="post" th:object="${loginForm}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:field="${loginForm.username}" required><br><br>
       
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="${loginForm.password}" required><br><br>
       
        <input type="submit" value="Login">
    </form>
    <p th:text="${loginMessage}" id="loginMessage"></p>
</body>
</html>
