<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
</head>
<body> 
    <h1>Quiz</h1>
    <form id="quizForm" action="/quiz/submit" method="post">
        <label for="question1">Question 1:</label>
        <input type="text" id="question1" name="question1" required><br><br>

        <label for="question2">Question 2:</label>
        <input type="text" id="question2" name="question2" required><br><br>

        <label for="question3">Question 3:</label>
        <input type="text" id="question3" name="question3" required><br><br>

        <label for="question4">Question 4:</label>
        <input type="text" id="question4" name="question4" required><br><br>

        <label for="question5">Question 5:</label>
        <input type="text" id="question5" name="question5" required><br><br>

        <!--<input type="submit" value="Submit">-->
    </form>

    <!--<a href="/scores" id="scoreLink" style="display: none">Click to view final score</a>-->
        <a href="/proxy/8093/scores"> 
            <button type = "button"> Submit </button>
        </a>

</body>
</html>