<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
</head>
<body>
<h1>Quiz</h1>
<form id="quizForm" action="/quiz/submit" method="post">
    <label th:for="'question0'" th:text="'Question 1: ' + ${quizBank.get(0).question}"></label>
    <input type="text" th:id="'question0'" th:name="'question0'" required><br><br>

    <label th:for="'question1'" th:text="'Question 2: ' + ${quizBank.get(1).question}"></label>
    <input type="text" th:id="'question1'" th:name="'question1'" required><br><br>

    <label th:for="'question2'" th:text="'Question 3: ' + ${quizBank.get(2).question}"></label>
    <input type="text" th:id="'question2'" th:name="'question2'" required><br><br>

    <label th:for="'question3'" th:text="'Question 4: ' + ${quizBank.get(3).question}"></label>
    <input type="text" th:id="'question3'" th:name="'question3'" required><br><br>

    <label th:for="'question4'" th:text="'Question 5: ' + ${quizBank.get(4).question}"></label>
    <input type="text" th:id="'question4'" th:name="'question4'" required><br><br>

    <input type="submit" value="Submit">
</form>

<a href="/proxy/8093/scores" id="scoreLink" style="display: none">Click to view the final score</a>
</body>
</html>